
<div class="container">
  <div class="row">

    {{#each passwords as |password|}}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

      <div class="card">
        
        <div class="card-body">
          <h4 class="card-title">{{ password.name }}</h4>
          <p class="card-text">
            <p class="card-email">
                  Email: <span>{{password.username }}</span>
                </p>
                <p class="card-password">
                  Password: <span> {{ password.password }} </span>
                </p>
                <p class="card-website">
                  Website: <span>{{ password.website }}</span>
                </p>
                <a href="/password/edit/{{password.id}}" class="btn btn-primary">Edit</a>
            
                <a href="/password/delete/{{password.id}}" class="btn btn-primary">Delete</a>
          </p>
          
        </div>
      </div>

      
    </div>

    {{/each}}

  </div>
</div>


</div>